section.about
    .container
        .about__description
            h2 Who we are
            p.
                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
            a(href='#') Read More
        .about__img
            img(src='img/mac.png', alt='laptop')