section.advantage
    .container
        h2 What we do
        .advantage__container
            .advantage__item
                h3 Creative Work
                p.
                    Sed ut perspiciatis unde omnis iste natu s error sit voluptatem accusantium doloremque laudantium.
            .advantage__item
                h3 We Do Best
                p.
                    Sed ut perspiciatis unde omnis iste natu s error sit voluptatem accusantium doloremque laudantium.
            .advantage__item
                h3 Best Company
                p.
                    Sed ut perspiciatis unde omnis iste natu s error sit voluptatem accusantium doloremque laudantium.
            .advantage__item
                h3 Nice Idea
                p.
                    Sed ut perspiciatis unde omnis iste natu s error sit voluptatem accusantium doloremque laudantium.
            .advantage__item
                h3 Professional
                p.
                    Sed ut perspiciatis unde omnis iste natu s error sit voluptatem accusantium doloremque laudantium.
            .advantage__item
                h3 Great Services
                p.
                    Sed ut perspiciatis unde omnis iste natu s error sit voluptatem accusantium doloremque laudantium.