section.banner
    .container
        .banner__description
            h1
                | Think outside
                span of the box
            a(href='#') read more
        .banner__model
            img(src='img/model.png', alt='model')