section.contact
    .container
        h2 Get in touch
        .contact__way
            .contact__item
                h3 Email
                a(href='mailto:blabla@gmail.com') blabla@gmail.com
            .contact__item
                h3 Phone
                a(href='tel:+8238738239') +8238738239
            .contact__item
                h3 Office
                a(href='#') 123, Main Road