footer.footer
    .footer__container
        //
           <ul class="footer__socials">
                          <li class="footer__icons">
                              <a href="#"></a>
                          </li>
                          <li class="footer__icons"></li>
                          <li class="footer__icons"></li>
                          <li class="footer__icons"></li>
                          <li class="footer__icons"></li>
                          <li class="footer__icons"></li>
                      </ul>
        .footer__copyright
            p.
                Copyright © 2019. PSD.IN.UA | Best PSD Template for freelancer and agencies

script(src='script.js')