section.team.js-team
    .container
        h2 Our creative team
        .team__container
            .team__item
                img(src='img/JohnSnow.png', alt)
                .team__descr
                    .name.
                        John Snow
                    .position.
                        King
            .team__item
                img(src='img/client-foto.png', alt, data-item, onmouseover='mouseOn()')
                .team__descr(data-text)
                    .name.
                        John Snow
                    .position.
                        SEO
            .team__item
                img(src='img/Doctor.png', alt)
                .team__descr
                    .name.
                        John Snow
                    .position.
                        Doctor