section.work
    .container
        .work__description
            h2 How we works
            p.
                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.
            .work__button
                a(href='#') Read more
        .work__wrap
            .work__stages
                .work__item
                    .work__inner
                        .work__number.
                            1.
                        .work__about
                            h3 idea
            .work__stages
                .work__item
                    .work__inner
                        .work__number.
                            2.
                        .work__about
                            h3 Design
            .work__stages
                .work__item
                    .work__inner
                        .work__number.
                            3.
                        .work__about
                            h3 output